.radioButtons {
    flex-direction: row !important;
}
.loginForm {
    padding-top: 40px;
}
.loginForm > div {
    display: flex;
    justify-content: center;
}
.radioContainer > div {
    justify-content: center;
    padding-top: 20px;
}
.inputLabelText {
    display: inline-block !important;
    width: 50%;
}
.centerButton {
    justify-content: center !important;
}
.radioContainer{
    display: flex;
}
.role{
padding-top: 20px;
padding-right: 50px;
font-size: 1rem;
display: flex;
align-items: center;
}
@media (max-width: 767px) {
.role {
    padding-right: 10px;
}
}
